@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-s .navbar-toggler {
  color: #000000;
}
#slider-u H1 {
  text-align: center;
  color: #000000;
}
#footer1-4c P {
  font-size: 9px;
}
#header3-4j H3 {
  font-size: 15px;
  text-align: center;
}
#header3-4j P {
  text-align: center;
  font-size: 12px;
}




#dropdown-menu-2btn-1h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1h .nav .link,
#dropdown-menu-2btn-1h .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1h .navbar,
#dropdown-menu-2btn-1h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1h .dropdown-menu a:hover,
#dropdown-menu-2btn-1h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1h .navbar-toggler {
  color: #000000;
}
#msg-box4-1r .mbr-header__text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}
#msg-box4-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1r .mbr-article {
  color: #ffffff;
}
#msg-box4-1r .mbr-article P {
  color: #000000;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}
#msg-box4-1r .btn {
  font-family: 'Oswald', sans-serif;
}
#footer1-4c P {
  font-size: 9px;
}



#dropdown-menu-2btn-1h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1h .nav .link,
#dropdown-menu-2btn-1h .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1h .navbar,
#dropdown-menu-2btn-1h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1h .dropdown-menu a:hover,
#dropdown-menu-2btn-1h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1h .navbar-toggler {
  color: #000000;
}
#form1-1n .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  color: #ff004d;
}
#form1-1n .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
}
#footer1-4c P {
  font-size: 9px;
}
#header3-4p H3 {
  font-size: 15px;
  text-align: center;
}
#header3-4p P {
  text-align: center;
  font-size: 12px;
}

#dropdown-menu-2btn-1h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1h .nav .link,
#dropdown-menu-2btn-1h .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1h .navbar,
#dropdown-menu-2btn-1h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1h .dropdown-menu a:hover,
#dropdown-menu-2btn-1h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1h .navbar-toggler {
  color: #000000;
}
#gallery1-49 SMALL {
  font-size: 8px;
  color: #cccccc;
}
#gallery1-4a SMALL {
  font-size: 8px;
}
#header3-4k H3 {
  font-size: 15px;
  text-align: center;
}
#header3-4k P {
  text-align: center;
  font-size: 12px;
}
#footer1-4c P {
  font-size: 9px;
}

#header1-54 H1 {
  font-size: 12px;
}
#header1-54 P {
  font-size: 10px;
}
#header1-54 .btn {
  font-size: 8px;
}
#dropdown-menu-2btn-4r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4r .nav .link,
#dropdown-menu-2btn-4r .dropdown-item {
  font-size: 0.8em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-4r .navbar,
#dropdown-menu-2btn-4r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-4r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4r .dropdown-menu a:hover,
#dropdown-menu-2btn-4r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-4r .navbar-toggler {
  color: #000000;
}
#footer1-4s P {
  font-size: 9px;
}
#header1-4z H1 {
  font-size: 12px;
}
#header1-4z P {
  font-size: 10px;
}
#header1-4z .btn {
  font-size: 8px;
}
#header1-51 P {
  font-size: 10px;
  text-align: left;
}
#header1-51 H1 {
  font-size: 12px;
}
#header1-51 .btn {
  font-size: 8px;
}
#header3-4y H3 {
  font-size: 15px;
  text-align: center;
}
#header3-4y P {
  text-align: center;
  font-size: 12px;
}
